@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

$bg-color: #18181b;

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: $bg-color;
    font-family: 'Inter', sans-serif;
}
